/* -- Basic Colors -- */
$main-color: white;
$background-carrot: #ff6347bf;
$border-radius: 50px;
$box-shadow: 0 0 10px #666;
$text-shadow: 2px 2px 5px black;

/* -- Button Colors -- */
$button-bg: white;
$button-text-color: black;
$button-padding: 10px 30px;
$button-border-radius: 25px;
$button-shadow: 0 0 20px #666;
$button-hover: #ff4e00;
$button-font-family: 'Acme', sans-serif;