@import '../UI/commonStyles.scss';
.Search {
  width: 90%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  .Search__Input {
    width: 40%;
    background-color: #22222262;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding: 0.7em;
    transition: 0.3s ease;
    &:focus {
      background-color: rgba(34, 34, 34, 0.7);
      color: white;
    }
  }
  .Search__Button {
    border: none;
    margin-left: 1%;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff4e00;
    color: white;
    font-family: "Acme", sans-serif;
    font-size: 1.2em;
    transition: 0.3s;
    box-shadow: 0 0 20px #666;
      &:hover {
        background-color: $button-bg;
        color: black;
      }
  }
  .Search__Radio {
    display: none;
  }
  .Search__by {
    position: relative;
    top: 13px;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(201, 201, 201);
  }
  input.Search__Radio:checked + label {
    background-color: #ff6060;
  }
}
