@import '../UI/commonStyles.scss';
.Welcome {
    color: $main-color;
    text-align: center;
    font-weight: bold;
    padding-top: 45vh;
    .Welcome__fieldset {
        width: 30%;
        margin: 0 auto;
        border-radius: $border-radius;
        border: none;
        background-color: $background-carrot;
        box-shadow: $box-shadow;
        text-shadow: $text-shadow;
        .Welcome__header {
            margin: 0 auto;
            padding: 0;
            font-size: 5em;
        }
        .Welcome__paragraph {
            margin: 0 auto;
            padding: 0;
            font-size: 2em;
        }
        .Welcome__button {
            background-color: $button-bg;
            border: none;
            font-family: $button-font-family;
            color: $button-text-color;
            padding: $button-padding;
            text-align: center;
            font-size: 2em;
            margin: 0.5em;
            border-radius: $button-border-radius;
            outline: none;
            box-shadow: $button-shadow;
            transition: 0.4s;
            &:hover {
                background-color: $button-hover;
                color: white;
            }
          }
    }
}

@media all and (max-width: 1199px) {
    .Welcome {
        .Welcome__fieldset {
            width: 40%
        }
    }
} 
@media all and (max-width: 991px) {
    .Welcome {
        .Welcome__fieldset {
            width: 50%
        }
    }
} 
@media all and (max-width: 768px) {
    .Welcome {
        .Welcome__fieldset {
            width: 50%;
            .Welcome__header {
                font-size: 4em
            }
        }
    }
} 
@media all and (max-width: 575px) {
    .Welcome {
        padding-top: 55vh;
        .Welcome__fieldset{
            width: 70%;
            .Welcome__header {
                font-size: 4em;
            }
            .Welcome__paragraph {
                font-size: 2em;
            }
            .Welcome__button {
                font-size: 1.5em;
            }
        }
    }
}