@import '../UI/commonStyles.scss';
.Nav {
  height: 40px;
  padding: 0.7em;
  background-color: $background-carrot;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  .Nav__Logo {
    display: inline-block;
    position: absolute;
    left: 1%;
    border: none;
    outline: none;
    background: none;
    .Nav__Image {
      width: 70px;
    }
  }
  .Nav__Profile {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    .Nav__ProfileHead {
      border: 1px solid black;
      margin: 3px auto 0;
      width: 35%;
      height: 35%;
      border-radius: 10px;
    }
    .Nav__ProfileBody {
      border: 1px solid black;
      margin: 0 auto;
      width: 60%;
      height: 40%;
      border-radius: 20px;
    }
  }
  .Nav__Menu {
    margin: 0 8px;
    width: 20px;
    cursor: pointer;
    .Nav__Point {
      background: black;
      margin: 4px;
      width: 4px;
      height: 4px;
      border-radius: 10px;
    }
  }
}
