.Babysitter {
    height: 100vh;
    background-image: url('https://cdn.kinsights.com/cache/5b/cb/5bcbc7f658752cee176672501103be48.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}