@import '../UI/commonStyles.scss';
.ChooseForm {
    color: $main-color;
    text-align: center;
    font-weight: bold;
    padding-top: 10em;
    .ChooseForm__fieldset {
        width: 60%;
        padding: 1em;
        margin: 0 auto;
        border-radius: $border-radius;
        border: none;
        background-color: $background-carrot;
        box-shadow: $box-shadow;
        text-shadow: $text-shadow;
        .ChooseForm__legend {
            font-size: 3em;
            background-color: $button-hover;
            padding: 0.1em 0.4em; 
            border-radius: 25px;
        }
        .ChooseForm__profileBox {
            display: flex;
            .ChooseForm__profile {
                width: 50%;
                display: grid;
                justify-content: center;
                padding: 1em;
            }
            .ChooseForm__profileimg {
                max-width: 100%;
                width: 300px;
                height: 300px;
            }
            .Welcome__button {
                background-color: $button-bg;
                border: none;
                font-family: 'Acme', sans-serif;
                color: $button-text-color;
                padding: $button-padding;
                text-align: center;
                font-size: 1.5em;
                margin-top: 1em;
                border-radius: $button-border-radius;
                outline: none;
                box-shadow: $button-shadow;
                transition: 0.4s;
                &:hover {
                    background-color: $button-hover;
                    color: white;
                }
              }
        }
    }
}