.ChooseForm {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 10em;
    .ChooseForm__fieldset {
        width: 60%;
        padding: 1em;
        margin: 0 auto;
        border-radius: 50px;
        border: none;
        background-color: #ff6347bf;
        box-shadow: 0 0 10px #666;
        text-shadow: 2px 2px 5px black;
        .ChooseForm__profileBox {
            display: flex;
            .ChooseForm__profile {
                width: 50%;
                display: grid;
                justify-content: center;
                padding: 1em;
            }
            .ChooseForm__profileimg {
                max-width: 100%;
                width: 300px;
                height: 300px;
            }
            .Welcome__button {
                background-color: white;
                border: none;
                font-family: 'Acme', sans-serif;
                color: black;
                padding: 10px 30px;
                text-align: center;
                font-size: 1.2em;
                margin: 4px 2px;
                border-radius: 25px;
                outline: none;
                box-shadow: 0 0 20px #666;
                transition: 0.4s;
                &:hover {
                    background-color: #ff4e00;
                    color: white;
                }
              }
        }
    }
}