@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: 'Ranga', cursive;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  